/ The main header displayed on all pages
/ Sometimes will be shorted as the page content dictates. 
%header
  .container
    / Primary navigation
    %nav.main-nav
      %ul.nav.nav-pills
        %li= link_to "Home", root_path, :nav_item => :home
        %li
          = link_to "Our catalogue", catalogue_path, :nav_item => :catalogue, :class => 'noborder'
          %ul
            - for category in Shoppe::ProductCategory.ordered
              %li= link_to category.name, products_path(category.permalink)
        %li= link_to "Why shop with us?", page_path(:why), :nav_item => :why
        %li= link_to "FAQs", page_path(:faqs), :nav_item => :faqs
        %li= link_to "Get in touch", page_path(:contact), :nav_item => :contact
      %h1= link_to Shoppe.settings.store_name, root_path
    
  /   - if @full_header
  /     %h2 Welcome to our <em>shoppe</em>.
  /     %p.intro Check out our lovely products on this page and then you can buy them through the website with just a few clicks using our supremely simple ordering system.
  
  / - if @full_header
  /   .bar
  /     .inner
  /       %p.call Call us today on <b>01202 901 101</b> if you have any questions.
  /       %p.offer <b>This week only!</b> FREE next day shipping on all orders over &pound;30.