!!!
%html
  %head
    %title #{@page_title} - #{Shoppe.settings.store_name}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield :head
  %body
    
    = display_flash
    
    = render 'shared/header'
    
    
    / Main content section
    %section.container
      .row
        / Primary section
        %section.primary.col-sm-8
          = yield
      
        / Sidebar
        %section.sidebar.col-sm-4
          - if content_for?(:sidebar)
            = yield :sidebar
          - else
            = render 'shared/basket'
            = render 'shared/reasons'
      

      
    / Footer
    = render partial: 'shared/footer'


          
